@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors';
@use '@carbon/type';

.schema-page__r1 {
  padding-top: $spacing-05;
  padding-bottom: $spacing-05;
}

.schema-page__th {
  min-width: $spacing-10;
}

.schema-page__status_td {
  text-align: center !important;
}

.schema-page__code {
  max-width: 8.75 * $spacing-13;
}

.schema-page__code .cds--snippet-container {
  width: 100%;
}

.schema-page__active_icon {
  fill: colors.$green-50;
}

.schema-page__disabled_icon {
  fill: colors.$gray-50;
}

.schema-page__textarea_json textarea {
  @include type.type-style('code-01');
}

.schema-page__notification {
  margin-top: $spacing-05;
  margin-bottom: $spacing-05;
}
